<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
<style>
    html {
        height: 100%;
        box-sizing: border-box;
    }
    body {
        height: 100%;
        -webkit-box-shadow: 10px 21px 98px -11px rgba(0,0,0,0.31);
        -moz-box-shadow: 10px 21px 98px -11px rgba(0,0,0,0.31);
        box-shadow: 10px 21px 98px -11px rgba(0,0,0,0.31);
    }
    #form {
        display: block;
        width: 100%;
        height: 25vh%;
    }
    #inp::placeholder {
        color: white;
    }
    #inp {
        height: 25vh;
        font-size: 4em;
        color: white;
    }
    canvas {
        display: block;
    }

    .logo {
        margin-bottom: 5%;
        font-size: 4em;
        color: black;
        font-family: 'Open Sans', sans-serif;
    }
    #myChart {
        width: 40% !important;
        height: 50% !important;
    }

</style>
<div class="logo">
    {{stock}}
</div>
<canvas id="myChart" width="400px" height="400px"></canvas>
<div id="results"></div>
<script type="text/javascript" src="javascripts/stocks.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.4/fuse.min.js"></script>
<script>

    stocks = document.stocks;
    console.log(stocks);
    let options = {
        keys: ['Name'],
    }
    let fuse = new Fuse(stocks, options);

    let ctx = document.getElementById('myChart').getContext('2d');
    let urlParams = new URLSearchParams(window.location.search);

    fetch(`/getstocks?stock=${urlParams.get('stock')}`).then(res => res.json()).then(newdata => {
        let myChart = new Chart(ctx, {
            scaleOverride: true,
            scaleStartValue: 10,
            type: 'line',
            data: {
                labels: newdata.yx,
                datasets: [{
                    data: newdata.yy,
                    fill: true,
                    backgroundColor: 'rgba(67, 206, 162, 1)',
                    pointBorderColor: 'rgba(67, 206, 162, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false,
                            fontSize: 40,
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontSize: 40
                        }
                    }]
                }
            }
        });
    })
    document.getElementById("inp").addEventListener('change', search);
    function search(event) {
        let input = document.getElementById("results");
        if (document.getElementById("inp").value.length < 3) return;
        let childnodes = document.getElementById("results").childNodes;
        while (input.firstChild) {
            input.removeChild(input.firstChild);
        }
        let stocksTemp = fuse.search(document.getElementById("inp").value);
        for (let i = 0; i < Math.min(15, stocksTemp.length); i++) {
            let a = document.createElement("a");
            a.href = "/stock?stock=" + stocksTemp[i].Symbol;
            let div = document.createElement("div");
            div.className = "uk-card uk-card-default uk-card-body";
            let child = document.createElement("div");
            child.className = "uk-card-title";
            child.innerText = stocksTemp[i].Name;
            div.appendChild(child)
            a.appendChild(div);
            document.getElementById("results").appendChild(a);
        }
    }
</script>